<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>nfo</string>
					<string>NFO</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_nfo.icns</string>
				<key>CFBundleTypeName</key>
				<string>ASCII Release Information</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>diz</string>
					<string>DIZ</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_diz.icns</string>
				<key>CFBundleTypeName</key>
				<string>Description in Zipfile</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>asc</string>
					<string>ASC</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_asc.icns</string>
				<key>CFBundleTypeName</key>
				<string>ASCII Artwork</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>txt</string>
					<string>TXT</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_txt.icns</string>
				<key>CFBundleTypeName</key>
				<string>Plain Text</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>ans</string>
					<string>ANS</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_ans.icns</string>
				<key>CFBundleTypeName</key>
				<string>ANSI Artwork</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>cia</string>
					<string>CIA</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_cia.icns</string>
				<key>CFBundleTypeName</key>
				<string>ANSI Artwork</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>ice</string>
					<string>ICE</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_ice.icns</string>
				<key>CFBundleTypeName</key>
				<string>ANSI Artwork</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>lgo</string>
					<string>LGO</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_lgo.icns</string>
				<key>CFBundleTypeName</key>
				<string>ANSI Artwork</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>mem</string>
					<string>MEM</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_mem.icns</string>
				<key>CFBundleTypeName</key>
				<string>Membership in zipfile</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>sit</string>
					<string>SIT</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_sit.icns</string>
				<key>CFBundleTypeName</key>
				<string>Site listings</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>xb</string>
					<string>XB</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_xb.icns</string>
				<key>CFBundleTypeName</key>
				<string>eXtended Binary</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>pcb</string>
					<string>PCB</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_pcb.icns</string>
				<key>CFBundleTypeName</key>
				<string>PCBoard BBS File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>bin</string>
					<string>BIN</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_bin.icns</string>
				<key>CFBundleTypeName</key>
				<string>Binary ANSi Artwork</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>tnd</string>
					<string>TND</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_tnd.icns</string>
				<key>CFBundleTypeName</key>
				<string>Tundra Draw File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>idf</string>
					<string>IDF</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_idf.icns</string>
				<key>CFBundleTypeName</key>
				<string>iCE Draw File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>adf</string>
					<string>ADF</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_adf.icns</string>
				<key>CFBundleTypeName</key>
				<string>ArtWorx Data File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Default</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>pcx</string>
					<string>PCX</string>
				</array>
				<key>CFBundleTypeIconFile</key>
				<string>file_pcx.icns</string>
				<key>CFBundleTypeName</key>
				<string>PiCture eXchange Image File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>bmp</string>
					<string>BMP</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>Bitmap Image File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>gif</string>
					<string>GIF</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>Graphics Interchange Format Image File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>jpg</string>
					<string>JPG</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>JPEG Image File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
            <dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>png</string>
					<string>PNG</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>Portable Network Graphics Image File</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
		</array>
	</dict>
</plist>
